*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    overflow-y: hidden;
}
body{
    background: #00202a;
    padding: 2% 3% 0 3%;
}
.logo{
    width: 100px;
    border-radius: 50%;
}
.promo1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}
.men, .btnmenu, .btndres, .ranks{
    color: #ebebeb;
    font-size: 22px;
    font-weight: 900;
    transition: 300ms;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: none;
    border: none;
}
.select{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sel{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ebebeb;
    border-radius: 15px;
    transition:0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    overflow: hidden;
    height: 0px;
    width: 0px;
    z-index: 10;
}
.dres_cod{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #ebebeb;
    border-radius: 15px;
    transition:0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    overflow: hidden;
    width: 0px;
    height: 0px;
    z-index: 10;    
}
.h300{
    height: 155px;
    width: 170px;
}
.h600{
    width: 350px;
    height: 600px;
}
.men1{
    color: #00202a;
    font-size: 15px;
    font-weight: 900;
    transition: 300ms;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}
.dres{
    color: #00202a;
    font-size: 18px;
    font-weight: 900;
    transition: 300ms;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    text-align: center;
}

.men1:hover{
    color: #00aade;
}
.btnmenu:hover, .btndres:hover, .ranks:hover{
    color: #00aade;
    font-size: 25px;
}
.men:hover{
    color: #00aade;
    font-size: 25px;
}
.promo2{
    padding-top: 30px;
}
.Leader, .DLeader, .Old, .Inviter_director, .Inviter_hard, .High_composition, .probation, .caller, .invite, .family{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #00202a;
    color: #ebebeb;
    transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}
.Leader:hover, .DLeader:hover, .Old:hover, .Inviter_director:hover, .Inviter_hard:hover, .High_composition:hover, .probation:hover, .caller:hover, .invite:hover, .family:hover{
    background: #00aade;
    border: none;
    width: 58px;
    height: 58px;
}
.reng{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background: #ebebeb;
    border-radius: 15px;
    overflow: hidden;
    width: 0px;
    height: 750px;
    margin-right: 3%;
    z-index: 109;
}
.ranksy{
    display: flex;
}

.h100{
    width: 100px;
}
.Leaderinfo, .DLeaderinfo, .Oldrinfo, .Inviter_directorinfo, .Inviter_hardinfo, .High_compositioninfo, .callerinfo, .inviteinfo, .familyinfo, .probationinfo{
    width: 0px;
    height: 750px;
    background: #ebebeb;
    transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    border-radius: 15px;
    overflow: hidden;
}
.h1000{
    width: 1500px;
}
.promo2, .ranksy{
    width: 100%;
}
.ranksinfo{
    display: flex;
}